<%= link_to 'New Team', new_team_path, class: "btn btn-lg btn-warning align-right" %>

<h1 class="page-header"> Teams <small> Listing</small> </h1>

<div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td> <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_team_path(team)  ,class: "btn btn-default" %></td>
            <td> <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
