<br><div class="row align-right">
  <%= link_to '<i class="fa fa-file-excel-o"></i>   Download as Excel'.html_safe, reports_projects_excel_path(format: "xlsx"), class: "btn btn-success"%>
</div>

<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name </th>
        <th>Clients </th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, reports_project_path(project) %></td>
          <td><%= project.client.name %></td>
          <td><%= get_seconds_in_hours_minutes(project.project_total_time_between_dates(@beginning,@end)) %></td>                   
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
