<div role="tabpanel">
	<!-- Nav tabs -->

	<ul class="nav nav-pills nav-justified" role="tablist">
		<li>
				<a href="#" role="tab" data-toggle="tab" > Clients</a>
		</li>
		<li> 
				<a href="#" role="tab" data-toggle="tab" > Projects </a>
		</li>
		<li> 
				<a href="#" role="tab" data-toggle="tab" > Collaborators </a>
		</li>
	</ul>
</div>