<div id="reports_navigation">
    <%= render "reports_navigation" %>
</div>

<script type="text/javascript">

    $( document ).on("click",".change-report", function(){
        var dateForParam = $(this).data('date');
        var typeForParam = $(this).data('type');
        $.ajax({
            type:'GET',
            url: "<%= reports_dash_path %>",
            data: { type : typeForParam, date : dateForParam },
            dataType: "script"
        });
    })

</script>