<div id="reports_navigation">
    <%= render "reports_navigation" %>
</div>

<script type="text/javascript">

    $( document ).on("click",".change-week", function(){
        var dateForParam = $(this).data('date');
        $.ajax({
            type:'GET',
            url: "<%= reports_list_path %>",
            data: { date : dateForParam },
            dataType: "script"
        });
    })

</script>