<%= link_to 'New User', new_user_path , class: "btn btn-lg btn-warning align-right" %>
<h1 class="page-header"> 
	Collaborators 
	<small><%= link_to "Active",  users_path %></small>
	<small>/ Archived</small>
</h1>

<%= render "table", active: false %>