<p class="pull-right">
	<span class="">Pin code:</span>
	<%#= @user.pin %>
  <br>
  <%#= link_to "See QR code", "https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=#{@user.qr_code}&chld=M|0", target: "blank" %>
</p>
<h1 class="page-header"> User <small> Editing</small> </h1>

<%#= render 'form', user: @user %>
<%#= link_to 'Back', users_path , class: "btn btn-primary" %>