<table class="table table-responsive">
	<% @teams.each do |team| %>
		<% filtered_collaborators = active ? team.collaborators.active : team.collaborators.archived %>
		<% unless filtered_collaborators.empty? %>
			<thead class="thead">
				<tr>
					<th colspan="6"><%= team.name %></th>
				</tr>
			</thead>
			<tbody>
				<% filtered_collaborators.each do |collaborator| %>
					<%#= .includes(:role).order("first_name, last_name") %>
					<tr id="collaborator-<%= collaborator.id %>">
						<%= render "user", collaborator: collaborator , active: active %>
					</tr>
				<% end %>
			</tbody>
		<% end %>
	<% end %>

</table>