<h1 class="page-header">
	<%=  @collaborator.first_name %>'s schedule
</div>
<% if @schedule %>
	<div class="row" id="event-caledar">
			<div class="col-md-10 col-md-offset-1" id="calendar" data-schedule-path="<%=schedule_events_path(@schedule.id)%>"></div>
	</div>
<% else %>
	<p>No Schedule yet</p>
<% end %>