<h2 class="page-header"> <%= @project.name %> <small> Project </small> </h2>
<p>Hours Tracked: <%= get_seconds_in_hours_minutes(@project.total_time) %></p>
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="dates-tab">
      <li role="presentation" class="active">
        <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Collaborators</a>
      </li>
  </ul>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="users">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name </th>
              <th>Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @timesheets.each do |timesheet| %>
              <tr>
                <td><%= link_to timesheet.user.full_name, reports_user_project_path(timesheet.user, @project) %></td>
                <td><%= get_seconds_in_hours_minutes(timesheet.total) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
