<div class="modal fade" id="detail-event" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>New Schedule</h4>
      </div>
      <div class="modal-body">

        <form  class="form-horizontal" role="form" action="schedule_event_path" method="post" >
          <div class="form-group">
            <label class="control-label col-sm-2" for="name-event">Name: </label>
            <div class="col-sm-10">
          	 <input type="text" id="name-event" value="" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="start-event">Start: </label>
            <div class="col-sm-offset-2 col-sm-10">
          	 <input type="text" id="start-event" value="" class="form-control clockpicker edit-event-time" />
            </div>
            <label class="control-label col-sm-2" for="finish-event">Finish: </label>
            <div class="col-sm-offset-2 col-sm-10">
          	 <input type="text" id="finish-event" value="" class="form-control clockpicker edit-event-time" /> <br>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="start">Day: </label>
            <select class="form-control edit-event-day"> 
              <option id="day-event" value=""></option>
              <option VALUE="Monday"> Mon</option>
              <option VALUE="Tuesday"> Tues</option>
              <option VALUE="Wednesday"> Wed</option>   
            </select>
          </div>
        </form>
        <input type="submit" value="Submit" class="btn btn-default" >
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#start-event').clockpicker({
    autoclose: true,
    afterShow: function() {
      $('.popover').css("z-index", "3000");
    }
  })
    $('#finish-event').clockpicker({
    autoclose: true,
    afterShow: function() {
      $('.popover').css("z-index", "3000");
    }
  })
</script>