<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
    </tr>
  </thead>
  <tbody>
    <div id="event-row">
      <%= render 'event_row', events: @events %>
    </div>
  </tbody>
</table>