<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
    </tr>
  </thead>
  <tbody>
    <div id="event-row">
      <% for i in 0..6%>
        <td>
          <% @schedule.events.each do |e| %>
            <% if e.day_of_week.to_date.wday == i %>
              <li>
                <%= e.name %>
              </li>
            <% end %>
          <% end %>
        </td>
      <%end%>
    </div>
  </tbody>
</table>