<div class="modal fade" id="new-schedule" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>New Schedule</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Schedule.new, class:"form-inline", remote: true) do |f|%>
          <table>
            <tr>
              <td><%= f.label :name, "Name Schedule" %></td>
              <td id="form-fields"><%= f.text_field :name, class: "form-control", placeholder: "UniversitySchedule" %></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <%= f.submit "Submit" ,class: "btn btn-default" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>