<div class="modal fade" id="new-event" tabindex='-1' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-left">
        <h4>New Event</h4>
      </div>
      <div class="modal-body">
        <%= render 'events/form' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#new-event").on('hide.bs.modal', function (e) {
    $(this)
      .find("input[type=text]")
        .val('')
        .end()
  });
</script>