<%= link_to 'Schedules', schedules_path, class: "btn btn-lg btn-primary align-right" %>
<h1 class="page-header"> Schedule <small><%= @schedule.name %></small></h1>
<%= nested_form_for  @schedule, url:create_schedule_schedules_path , remote: true do |f|%>
  <%= render 'index_table_current_schedule' , f: f %>
<% end %>
