<% if @current %>
	<div class="row">
		<%= link_to 'Schedules', schedules_path, class: "btn btn-primary align-right" %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-1">
			<div id="create-event">
				<%= link_to new_schedule_event_path(@current), remote: true do %>
					<button type="button" class="btn btn-lg btn-warning"> + </button>
					<h6>New Entry</h6>
				<% end %>
			</div>
		</div>
		<div id="event-caledar" class="col-lg-11">
			<div id="calendar" data-schedule-path="<%=schedule_events_path(@current.id)%>"></div>
		</div>
	</div>
		
	<div class="modal-show">
		<div class="modal fade" id="event-modal" tabindex="1" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	</div>
<% else %>
	<p>You do not have an Active schedule. Go to <%= link_to 'this link', schedules_path %> to manage your schedules.</p>
<% end %>
