
<%= render 'new_schedule_modal' %>

<%= link_to 'New Schedule', '#',:data => {:toggle => "modal"}, onClick: "javascript:openNewScheduleModal(this)",class: "btn btn-primary align-right" %>
<div id="table-schedules">
	<%=render 'table_schedules' %>
</div>
<%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Back".html_safe,  current_schedule_schedules_path, class: "btn btn-default" %>