<h1 class="page-header">
	<%= @schedule.name%>
</h1>
<div class="row">
	<%= link_to 'Schedules', schedules_path, class: "btn btn-primary align-right" %>
</div>
<br>
<div class="row">
	<div class="col-lg-1" id="create-event">
		<%= link_to new_schedule_event_path(@schedule), remote: true do %>
			<button type="button" class="btn btn-lg btn-warning"> + </button>
			<h6>New Entry</h6>
		<% end %>
	</div>
	<div id="event-caledar" class="col-lg-11">
		<div id="calendar" data-schedule-path="<%=schedule_events_path(@schedule.id)%>"></div>
	</div>
	<div class="modal-show">
		<div class="modal fade" id="event-modal" tabindex="1" aria-labelledby="myModalLabel" aria-hidden="true">
		</div>
	</div>

</div>