<h1 class="page-header"> Client <small> Editing</small> </h1>

<%= render 'form' %>

<%= link_to 'Show', @client, class: "btn btn-primary" %> 
<%= link_to 'Back', clients_path, class: "btn btn-primary"  %>
