<h1 id ="date_title"> <%= full_date_format(@day_selected) %> </h1>

<div id="date_ranges">
  <%= link_to "Today" , '#', :data => {:date => @today},:id => "today_date", :class => 'change_date' %> 
</div>