<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Client Name</th>
        <th>Total time</th>
                  
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= get_seconds_in_hours_minutes(client.client_total_time)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="align-right">
  <%= link_to '<i class="fa fa-file-excel-o"></i>  Download as Excel'.html_safe, clients_path(format: "xlsx"), class: "btn btn-lg btn-primary"%>
</div>