<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Total time</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= get_seconds_in_hours_minutes(project.project_total_time) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="align-right">
  <%= link_to '<i class="fa fa-file-excel-o"></i>  Download as Excel'.html_safe, projects_path(format: "xlsx"), class: "btn btn-lg btn-primary"%>
</div>