<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>In time</th>
      <th>Out time</th>
      <th>Total time</th>
      
    </tr>
  </thead>

  <tbody>
    <% @time_stations.each do |time_station| %>
      <tr>
        <td></td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td><%= get_seconds_in_hours_minutes(time_station.total_time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>