<table class="table table-striped table-responsive" style="overflow: auto;">
  <thead>
      <tr>
        <th> Collaborator </th>
        <% days = days_between_dates(@beginning, @end) %>
        <% days.each do |day| %>
          <th><%= day_and_date_format(day) %></th>
        <% end %>
      </tr>
  </thead>
  <tbody>
    <% @filtered_users.each do |user| %>
      <tr>
        <% total = TimeStation.totals_per_day_between_dates(@beginning,@end,user.id) %>
        <td><%= user.full_name %></td>
        <% total.each do |t| %>
          <td> <%= get_seconds_in_hours_minutes(t) %> </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>