.keypad{
	width: 70%;
	margin: auto;
    margin-bottom: 40px;
}

.keypad  button {
    margin: 1%;
    width: 31%;
    height: 23%;
    background: #eee;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 3em;
}

.keypad  button.delete,
.keypad  button.submit {
    text-align: center;
    background: black;
    color: white;
    background-color: #337AB7;
}