
table, tr, td {
    padding-bottom: 10px;
    padding-right: 40px;
}
.input{
	padding-right: 4%;
}

.text{
	width: 32% !important;
}

.form-input {
	width: 45% ;
}

.start{
	margin-right: 5%;
}

.form-inline{
	margin-bottom: 19px;
}

.description-text{
	width: 95%;
	height: 110px !important;
}

.reason-text{
	width: 46% !important;
}

.search-option{
	width: 30% !important;
	margin-left: 35px;	
	margin-right: 15px;
}
.request{
	margin-bottom: 15px;
}

.search-request{
	width: 30% !important;
	margin-left: 13px;	
	margin-right: 15px;
}

.type-permission{
	width: 185% !important;
}