// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reports th {
    background-color: #333333;
    color: white;
}

.be-blue{
	color: #0558FF;
}

.be-red{
	color: red;
}
