.pull-right{
  text-align: right;
  margin-bottom: 1%;
}

.align-left{
  text-align: left;
}

.width-table-new{
  width: 100%;
}

.width-name{
  width: 267%;
}
.edit-event-name{
	width: 255%;
}
.edit-event-time{
	width: 35%;
}
.edit-event-day{
	width: 28%;
}

