.pull-right{
  text-align: right;
  margin-bottom: 1%;
}

.align-left{
  text-align: left;
}

.width-table-new{
  width: 100%;
}

.width-name{
  width: 267%;
}
.edit-event-name{
	width: 255%;
}
.edit-event-time{
	width: 35%;
}
.edit-event-day{
	width: 28%;
}

.schedule th {
  background-color: #333333;
  color: white;
}

.edit-current-event {
  padding: 7px 4px;
  display: block;
}

.list-group-item{
  padding: 1px 1px;
  display: block;
}

.worked-hours{
  font-size: -webkit-xxx-large;
}

.schedule .event {
  width: 7%;
  height: 18px;
  border: 1px solid #DEDEDE;
  border-collapse: collapse;
}
.schedule .hour {
  font-size: 18px;
  border: none;
}
.schedule .day{
  text-align: center;
  border: none;
}

.schedule .no-day{
  border: none;
  background-color: #F2F2F2;
}

.grill{
  z-index: 1;
  position: absolute;
}

.data{
  z-index: 100;
  position: relative;
}