.modal 
	.modal-header > h4 > span{
	    float: right;
	    position: absolute;
	    right: 15px;
	}

	.input-padding{
		padding-bottom: 10px;

	}

	.text-area-style{
		overflow: hidden;
		word-wrap: break-word;
		resize: none;
		height: 56px;
	}

	.time-field-style{
		display: block;
		font-size: 30px;
		font-weight: 500;
		height: 56px;
		line-height: 38px;
		padding-left: 0;
		text-align: right;
	}
	
.to-the-right{
	float:right;
	padding-right: 15px;
	padding-top: 20px;
}
.clock{
	top: 20px;
}
.day-view-entry {
border-bottom: 1px solid #cccccc;
font-size: 14px;
}

.day-view-entry .entry-info {
width: 505px;
word-wrap: break-word;
}

.day-view-entry .entry-time {
font-size: 21px;
font-weight: bold;
line-height: 39px;
text-align: right;
width: 55px; }
.day-view-entry .entry-button {
line-height: 37px;
padding-left: 0;
padding-right: 0;
text-align: right;
width: 90px;}
.day-view-entry .edit-button {
line-height: 37px;
width: 30px;}

#project_client{
	font-size: 30;
	font-weight: bold;
}