.modal 
	.modal-header > h4 > span{
	    float: right;
	    position: absolute;
	    right: 15px;
	}

	.input-padding{
		padding-bottom: 10px;

	}

	.text-area-style{
		overflow: hidden;
		word-wrap: break-word;
		resize: none;
		height: 56px;
	}

	.time-field-style{
		display: block;
		font-size: 30px;
		font-weight: 500;
		height: 56px;
		line-height: 38px;
		padding-left: 0;
		text-align: right;
	}

.week_navigation{
	padding-bottom: 20px;
}

.btn-toolbar{
	padding-top: 20px;
	padding-right: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color: #337ab7;
	color: white;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}


.nav-tabs>li:last-child{
	width: 16%;
	text-align: center;
}

.nav-tabs>li{
	width: 12%;
}

.nav-tabs>li >a{
	border: 1px solid;
	border-bottom: none;
}

.to-the-right{
	float:right;
	
}
.clock{
	
}
.day-view-entry {
border-bottom: 1px solid #cccccc;
font-size: 14px;
}

.day-view-entry > table{
	width: 100%;
}

.day-view-entry-list{
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.day-view-entry .entry-info {

word-wrap: break-word;
}

.day-view-entry .entry-time {
font-size: 21px;
font-weight: bold;
line-height: 39px;
text-align: right;
width: 55px; }
.day-view-entry .entry-button {
line-height: 37px;
padding-left: 0;
padding-right: 0;
text-align: right;
width: 90px;}
.day-view-entry .edit-button {
line-height: 37px;
width: 30px;}

#project_client{
	font-size: 30;
	font-weight: bold;
}
